<h1>Your Tickets</h1>

<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Category</th>
      <th>Owner</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.id %></td>
        <td><%= ticket.title %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.priority %></td>
        <td><%= ticket.category %></td>
        <td><%= ticket.user.email %></td>
        <td><%= ticket.created_at.strftime("%b %d, %Y") %></td>

        <td>
          <%= link_to "View", ticket_path(ticket) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p style="margin-top: 20px;">
  <%= link_to "Create New Ticket", new_ticket_path %>
</p>
