<!DOCTYPE html>
<html>
  <head>
    <title>Mini Helpdesk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body style="font-family: Arial;">

    <!-- Simple navigation bar -->
    <nav style="padding: 10px; background: #222; color: #fff;">
      <span style="font-weight: bold;">Mini Helpdesk</span>

      <% if user_signed_in? %>
        <span style="margin-left: 20px;">
          Logged in as <%= current_user.email %>
        </span>

        <%= link_to "Tickets", tickets_path, style: "margin-left: 20px; color: #fff;" %>
        <%= link_to "New Ticket", new_ticket_path, style: "margin-left: 10px; color: #fff;" %>

        <%= link_to "Sign out",
                    destroy_user_session_path,
                    data: { turbo_method: :delete },
                    style: "margin-left: 10px; color: #fff;" %>

      <% else %>

        <%= link_to "Sign up", new_user_registration_path, style: "margin-left: 20px; color: #fff;" %>
        <%= link_to "Sign in", new_user_session_path, style: "margin-left: 10px; color: #fff;" %>

      <% end %>
    </nav>

    <!-- Flash messages -->
    <% if notice %>
      <p style="color: green; padding: 10px;"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p style="color: red; padding: 10px;"><%= alert %></p>
    <% end %>

    <!-- All pages will be injected here -->
    <div style="padding: 20px;">
      <%= yield %>
    </div>
  </body>
</html>
